<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foody_App"
        tools:targetApi="31">
        <activity
            android:name=".activities.ThongTinNhaHangActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ThemMonAnActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DanhGiaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.XacNhanDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DoiThongTinTKActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DoiMatKhauActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChiTietHoaDonActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChiTietMonAnActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TimKiemActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DangKyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DangNhapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ManHinhChaoActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>